#carrousel-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 255px;
    margin: 2% 0;
    overflow: hidden;

    @media screen and (min-width: $breakpoint-desktop) {
        height: 415px;
    }
}

.slider {
    @include WH-full;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    @include small-radius;
    opacity: 0;
    transition: opacity ease-in-out 0.6s; //petit effet d'apparition progressive de l'image dans le slide

    @media screen and (min-width: $breakpoint-desktop) {
        @include big-radius;
    }

    & img {
        @include WH-full;
        object-fit: cover;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        mix-blend-mode: normal;
        @include small-radius;

        @media screen and (min-width: $breakpoint-desktop) {
            @include big-radius;
        }
    }

    &__number {
        display: inline-block;
        position: absolute;
        @include font(12px, 500);
        color: $counter-color;
        left: 50%;
        bottom: 8%;
        transform: translateX(-50%);
        background: $counter-bg;
        padding: 6px 10px;
        border-radius: 8px;
        z-index: 5;
        pointer-events: none;
        /* animate when the slide becomes active */
        animation: counter-pop 220ms ease;

        @media screen and (min-width: $breakpoint-desktop) {
            @include font(18px, 500);
            bottom: 12%;
        }
    }

    @keyframes counter-pop {
        0% {
            transform: translateX(-50%) scale(0.9);
            opacity: 0;
        }
        60% {
            transform: translateX(-50%) scale(1.05);
            opacity: 1;
        }
        100% {
            transform: translateX(-50%) scale(1);
            opacity: 1;
        }
    }
}

.active-anim {
    opacity: 1;
}

.rightArrow {
    @include rightArrow-style;
}

.leftArrow {
    @include leftArrow-style;
}